DISCORD_TOKEN=your_discord_bot_token_here
COMMAND_PREFIX=!
FFMPEG_EXECUTABLE=ffmpeg
MUSIC_IDLE_TIMEOUT_SECONDS=60
DASHBOARD_HOST=127.0.0.1
DASHBOARD_PORT=8765
ENABLE_TRAY_ICON=1
MAX_PLAYLIST_TRACKS=50
YTDL_COOKIE_FILE=
