DISCORD_TOKEN=your_discord_bot_token_here
COMMAND_PREFIX=!
FFMPEG_EXECUTABLE=ffmpeg
MUSIC_IDLE_TIMEOUT_SECONDS=60
DASHBOARD_HOST=127.0.0.1
DASHBOARD_PORT=8765
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=
DASHBOARD_SESSION_SECRET=
DASHBOARD_PUBLIC_URL=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DASHBOARD_SUPERUSER_IDS=your_discord_user_id_here
ENABLE_TRAY_ICON=1
MAX_PLAYLIST_TRACKS=50
YTDL_EXTRACT_TIMEOUT_SECONDS=90
YTDL_COOKIE_FILE=
YTDL_FORMAT=bestaudio/best
YTDL_JS_RUNTIME=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=
SPOTIFY_MARKET=US
